<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August-2018</h4>
                                    <h4 class="subheading">In Vancouver</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I am based in Vancouver currently. It's the second western city I am living in and very different from what I was used to in London. However, it's more spread out, chilled out and laid back. SIGGRAPH brings everyone to Vancouver every once in a while. And I have just started living it.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2013</h4>
                                    <h4 class="subheading">And it was London calling!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">London is a city of dreams for many. It's truly global melting-pot and It's epitome of western culture at the same time. People are warm and welcoming and you will never get bored here. And I guess I made a few lifetime friends in this city. This is the place to be in Europe if you do VFX!!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2003</h4>
                                    <h4 class="subheading">When I Moved to Mumbai</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">And this is where India dreams! Maxim city, the city which never sleeps. Bollywood lives here and so does VFX and animation industry. Everyone comes here to try their luck and most of them never go back!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 1984</h4>
                                    <h4 class="subheading">The year I was born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Pink city of India. Hot and dry, rich and spicy! It has changed dramatically in last 30 years, but I still love the place! It's THE place to be during festivals, to be with friends and actually do nothing.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>This
                                    <br>Is My
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
