<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Following are the things I keep busy in, professionally and otherwise.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">VFX Pipeline Development</h4>
                    <p class="text-muted">I have worked in different studios with different scales of vfx-pipeline at various stages of development. VFX Pipelines are always fascinating and there are always many solutions to the same problem.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Collecting Art and Statues</h4>
                    <p class="text-muted">This is a nascent hobby, but something I always love to do. Things I own are scattered across cities I have lived in but someday I hope to display them together.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Writing Feature Length Scripts</h4>
                    <p class="text-muted">Something I have recently jumped into but in anticipation of taking it to the next level.</p>
                </div>
            </div>
        </div>
    </section>